go get github.com/spf13/cobra/cobra
go get github.com/apcera/termtables
go get github.com/coreos/etcd/clientv3
go get github.com/nsqio/go-nsq
go get -v github.com/gosuri/uiprogress
go get -v github.com/spf13/viper
go get -v github.com/siddontang/go-log
